body {
    background: linear-gradient(#5c4569, #404a77);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    min-width: 100px;
    min-height: 40px;
    font-size: 20px;
    color: bisque;
    background-color: #676666;
    margin: 5px;
    border: 2px solid #a899b3;
    border-radius: 5px;
}

button[disabled] {
    background-color: #676666;
    opacity: 0.4;
}

input {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E8EE;
    border-radius: 6px;
    text-align: center;
    width: calc(33px * 3);
    height: 20px;
}